*{
    margin: 0;
    padding: 0;
}

.section{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 10px;
    margin-top: 20px;

}
.columns{
    width: 100%;
    margin: 5px;
}
img{
    padding:7px;
    width:300px;
    height:240px;
    border-radius: 20px;
}
@media ( max-width:800px)
{
    img{
        width:300px;
        height: 200px;
        padding: 4px;
        border-radius: 20px;
    }
    h1{
        font-size: 20px;
    }
}


